*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color:lightpink;
}

.homie{

    display: flex;
    justify-content:center;
    align-items: center;

    gap: 10px;

    background-color: lightblue;
    height: 90vh;
}

form{

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    gap: 15px;

    border: 1px solid black;
    height: 500px;
    width: 450px;
}

input{
    text-align: center;
    height: 30px;
    width: 300px;
}

button{
    height: 30px;
    width: 100px;
}

.form-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.result{
    border: 1px solid black;
    height: 500px;
    width:max-content;
    overflow-y: scroll;
}

.resultcell{
    background-color: white;
    border: 1px solid black;
}

.columncell{
    border: 2px solid black;
    border-style:ridge;
}